* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  overflow-x: scroll;
}

#myList,
#search {
  height: 97vh;
  width: 50vw;
  min-width: 600px;
  padding: 5vh;
}

#myList {
  border-right: solid black 1px;
}

.header {
  height: 10vh;
  border-bottom: solid black 1px;
}

#list,
#resultDiv {
  height: 80vh;
  overflow-y: scroll;
}

.listItem {
  height: 20vh;
  padding: 1.5vh 0;

  display: flex;

  border-bottom: solid black 1px;
}

.imgDiv {
  width: 20%;
}

.textDiv {
  width: 80%;
}

.textDiv * {
  margin: 0 3px 1vh 0;
}

.posterList {
  height: 100%;
}

.btnDiv {
  height: 5%;
  width: 100%;
}

.topDiv {
  height: auto;
  width: 100%;
}

.posterSingle {
  height: 200px;
}

.singleItem {
  height: 100%;
  width: 100%;

  padding-top: 1.5vh;
}

.btnDiv * {
  margin: 0 3px 1vh 0;
}

.singleItem * {
  margin: 0 3px 1vh 0;
}
